
%ul.nav.nav-list
  %li
    =link_to 'Dashboard', Optimacms::Engine.routes.url_helpers.dashboard_path

  - Optimacms::AdminMenu::AdminMenu.get_menu.each_with_index do |m, ind|
    %li
      =link_to "#submenu#{ind}", :"data-toggle"=>"collapse", :"aria-expanded"=>"true", :"aria-controls"=>"submenu#{ind}" do
        %span
          %b #{m[:title]}
        %b.arrow.fa.fa-angle-down.for-expanded
        %b.arrow.fa.fa-angle-left.for-collapsed

      %ul.submenu.collapse.in{id: "submenu#{ind}"}
        - if m[:submenu]
          - m[:submenu].each do |sm|
            - u = sm[:route] ? send("#{sm[:route]}_path") : sm[:url]
            - next if u.nil? || u===false

            %li
              =link_to sm[:title], u



  -#
    %li.active

      =link_to '#submenu1', :"data-toggle"=>"collapse", :"aria-expanded"=>"true", :"aria-controls"=>"submenu1" do
        %span Content
        %b.arrow.fa.fa-angle-down.for-expanded
        %b.arrow.fa.fa-angle-left.for-collapsed

      %ul#submenu1.submenu.collapse.in
        %li=link_to 'Pages', pages_path
        %li=link_to 'Templates', templates_path
        -#%li=link_to 'Layouts', layouts_path
        -#%li=link_to 'Data Blocks - NOT WORK', 'datablocks_path'
        %li=link_to 'Media', mediafiles_path

    -#%li
    =link_to '#submenu_system', :"data-toggle"=>"collapse", :"aria-expanded"=>"false", :"aria-controls"=>"submenu_system" do
      %span System
      %b.arrow.fa.fa-angle-down.for-expanded
      %b.arrow.fa.fa-angle-left.for-collapsed

    %ul#submenu_system.submenu_system.collapse
      %li=link_to 'App', app_sys_path
      %li=link_to 'Maintenance', "#"
      %li=link_to 'Backups', "#"
      %li=link_to 'Info', "#"
