
%ul#leftmenu.nav.nav-list.flex-column
  %li.nav-item
    =link_to '/'+Optimacms.admin_namespace+'/dashboard', class: "nav-link active" do
      Dashboard

  - Optimacms::AdminMenu::AdminMenu.get_menu.each_with_index do |m, ind|
    %li.nav-item
      =link_to "#submenu#{ind}", :"data-toggle"=>"collapse", :"aria-expanded"=>"true", :"aria-controls"=>"submenu#{ind}", :class=> "nav-link" do
        %span
          %b #{m[:title]}
        %b.arrow.fa.fa-angle-down.for-expanded
        %b.arrow.fa.fa-angle-left.for-collapsed

      %ul.submenu.collapse.show{id: "submenu#{ind}"}
        - if m[:submenu]
          - m[:submenu].each do |sm|
            - u = sm[:route] ? send("#{sm[:route]}_path") : sm[:url]
            - next if u.nil? || u===false

            %li
              =link_to sm[:title], u


