%h2 News

.filter
  = inline_filter_form_for(@filter)

.center-block
  = paginate @items
%br
%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= link_to_sortable_column :id, '#'
    %th Title
    %th= link_to_sortable_column :created_at, 'Date'
    %th Commands

  - @items.each do |item|
    %tr
      %td= item.id
      %td= item.title
      %td= item.created_at