File: #{@item.path}
%br
%br
.row#mainform
  .col-md-12
    = horizontal_simple_form_for @item, {:html => { :class => "form-horizontal", :role => "form" }}.merge((@modal==1 ? {remote: true}: {}))  do |f|


      = render 'optimacms/admin/shared/form_errors', :object=>@item

      = render 'form_content_translation', f: f, item: @item

      = f.input :continue, as: :fake_hidden, input_html: {value: "0"}, label: false

      = f.input :parent_id, as: :hidden

      = f.input :title, label: "Title"

      -# if @item && @item.parent_id
        = f.input :parent_title, disabled: true, label: 'Folder'

      -#= f.input :basename, disabled: true, label: 'Name'
      -#= f.input :basedirpath, label: "Folder", :disabled=> true
      -#= f.input :path, disabled: true, label: 'File'
      -#=link_to 'Rename', '#'

      = f.input :is_translated, label: "Translate?"






      -#= f.button :submit_cancel, 'Save', :cancel=>@url_back
      = f.button :save_continue_cancel, 'Save', :cancel=>@url_back


:javascript

  $( document ).ready(function() {
    $('#mainform a.btn-save-continue').click(function(e){
      e.preventDefault();
      var f = $(this).closest("form");
      f.find("input[name='continue']").val("1");
      f.submit();
    });
  });
