%h2 Admin
%ul
  %li= link_to 'admin area', '/'+Optimacms.config.admin_namespace

%h2 Users
%ul
  %li= link_to 'Login', new_user_session_path

%h2 Pages

%ul
  %li= link_to '/about.html', '/about.html'
  %li= link_to '/text1.html', '/text1.html'
  %li= link_to '/news.html', '/news.html'
  %li= link_to '/news-p2.html', '/news-p2.html'
  %li= link_to '/newsitem-1.html', '/newsitem-1.html'
  %li= link_to '/services.html', '/services.html'
  %li= link_to '/service-education.html', '/service-education.html'
  %li= link_to '/service-hosting.html', '/service-hosting.html'


%ul
  %li= link_to 'Links for block', '/news'
