- content_for :main do
  #wrapper
    = render 'optimacms/admin/shared/header'

    .main-container
      .row.no-gutters
        #sidebar.sidebar.col-md-2
          = render 'optimacms/admin/shared/leftmenu'

        .main-content.col-md-10
          .main-content-inner
            = render 'optimacms/admin/shared/breadcrumbs'
            = render 'optimacms/admin/shared/flash'

            .page-content
              = yield


  = render 'optimacms/admin/shared/footer'

= render :template => 'optimacms/admin/layouts/application'