- content_for :main do
  = render 'optimacms/admin/shared/header'

  .container-fluid.p-0.m-0
    .row.no-gutters
      .col-sm-2.col-xl-1
        = render 'optimacms/admin/shared/leftmenu'
      .col.pl-4
        = render 'optimacms/admin/shared/breadcrumbs'
        = render 'optimacms/admin/shared/flash'

        = yield


  = render 'optimacms/admin/shared/footer'

= render :template => 'optimacms/admin/layouts/application'